<configuration>
  <connectionStrings>
    <add name="FlightDbContext" connectionString="Data Source=(localdb)\MSSQLLocalDb;Integrated Security=SSPI;Initial Catalog=DddEfSample;App=DDD-EF-Sample" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
